
.header {
    background-color: #23b10d;
    text-align: center;
    padding: 30px;
   
  }
.header h2{ 
    font-family: 'Courier New', Courier, monospace;
    font-size: 48px;
  }
.scrape{
    background-color: rgb(rgb(0, 89, 255), green, blue);
    color: white;
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
   
}

.column.latest{
    padding: 20px;
}
.column.main {
    float: left;
    width: 60%;
    padding: 20px;
    background-color: rgb(8, 127, 156);
  }
.column.main h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.column.table{
    width: 40%;
    padding: 20px;
    background-color: blue;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .footer {
    background-color: #a52424;
    text-align: center;
    padding: 10px;
  }