
.header {
    background-color: grey;
    text-align: center;
    padding: 30px;
   
  }
.header h2{ 
    font-family: 'Courier New', Courier, monospace;
    font-size: 48px;
  }
.scrape{
    background-color: rgb(rgb(0, 89, 255), green, blue);
    color: white;
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
}

.column.latest{
    padding: 20px;
}
.column.main {
    float: left;
    width: 60%;
    padding: 20px;
  }
.column.main h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.column.table{
    width: 40%;
    padding: 20px;
  
  }
.col-md-6{
  padding: 20px;
  align-items: center;
  background-color: darkgoldenrod;
  column-gap: 10px;
}
.col-md-12 h1{
  text-align: center;
  
}
  
  .images{
   padding: 50px;
   column-count: 2;
   text-align: center;
    }
